body{
    background-color: #190200  
    
  }
  h1{
    text-align:center;
    color: rgb(245,241,241) (25,46.211);
    font-size:50px;
     
  }
  p{
    color: #F8F6F8
    
  }
  
  h1{
    color:  #FCF7F5
    
  }
  #im1{
    
    width:101%
      
    
  }
  #im2{
    
    width:100%
    
  }
  
  
  h2{ color: #FAF9F9
    
  }
  ul{
    
    color: #FFFFFF
    
  }
  
  
    
    
    
  }
  
  